=begin
#Zippendo Public API

#Public API documentation for Zippendo. Authenticate using your API token (Bearer token prefixed with zipp_).  **Brands (sub-accounts).** An organization can be split into brands, each keeping its own orders, shipments and configuration separate. There are two ways to scope requests to one brand, and NEITHER changes any request body:  1. **Bind the token.** Create an API token with a `brandId` and every request it makes is confined    to that brand — reads filtered, writes stamped. This is the recommended way to give a single    brand's team its own credential. 2. **Send the `X-Zippendo-Brand` header.** An organization-wide token can scope an individual    request by sending the brand's id or slug in this header. Most SDKs let you set it once on the    client so every call inherits it.  A brand-bound token that receives an `X-Zippendo-Brand` header naming a different brand is rejected with `403 BRAND_ACCESS_DENIED` — the binding is never widened. Omit both and requests cover the whole organization, which is the behaviour of every existing token.  Records that belong to no brand carry `brandId: null`. Configuration (carriers, shipping rules, addresses) with a null brand is organization-wide and remains visible inside every brand; orders and shipments with a null brand are only visible organization-wide.

The version of the OpenAPI document: 1.0.0
Contact: support@zippendo.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Zippendo
  class AddressesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create address
    # Creates a new sender, pickup or return address for the organization.
    # @param org_id [String] Organization ID
    # @param create_address_request [CreateAddressRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ListAddresses200ResponseDataInner]
    def create_address(org_id, create_address_request, opts = {})
      data, _status_code, _headers = create_address_with_http_info(org_id, create_address_request, opts)
      data
    end

    # Create address
    # Creates a new sender, pickup or return address for the organization.
    # @param org_id [String] Organization ID
    # @param create_address_request [CreateAddressRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListAddresses200ResponseDataInner, Integer, Hash)>] ListAddresses200ResponseDataInner data, response status code and response headers
    def create_address_with_http_info(org_id, create_address_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddressesApi.create_address ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AddressesApi.create_address"
      end
      # verify the required parameter 'create_address_request' is set
      if @api_client.config.client_side_validation && create_address_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_address_request' when calling AddressesApi.create_address"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/addresses'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_address_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ListAddresses200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AddressesApi.create_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddressesApi#create_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete address
    # Deletes an address belonging to the organization.
    # @param org_id [String] Organization ID
    # @param address_id [String] Address ID
    # @param [Hash] opts the optional parameters
    # @return [String]
    def delete_address(org_id, address_id, opts = {})
      data, _status_code, _headers = delete_address_with_http_info(org_id, address_id, opts)
      data
    end

    # Delete address
    # Deletes an address belonging to the organization.
    # @param org_id [String] Organization ID
    # @param address_id [String] Address ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def delete_address_with_http_info(org_id, address_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddressesApi.delete_address ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AddressesApi.delete_address"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling AddressesApi.delete_address"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/addresses/{addressId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{addressId}', CGI.escape(address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AddressesApi.delete_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddressesApi#delete_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get address
    # Returns a single address belonging to the organization, identified by its ID.
    # @param org_id [String] Organization ID
    # @param address_id [String] Address ID
    # @param [Hash] opts the optional parameters
    # @return [ListAddresses200ResponseDataInner]
    def get_address(org_id, address_id, opts = {})
      data, _status_code, _headers = get_address_with_http_info(org_id, address_id, opts)
      data
    end

    # Get address
    # Returns a single address belonging to the organization, identified by its ID.
    # @param org_id [String] Organization ID
    # @param address_id [String] Address ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListAddresses200ResponseDataInner, Integer, Hash)>] ListAddresses200ResponseDataInner data, response status code and response headers
    def get_address_with_http_info(org_id, address_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddressesApi.get_address ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AddressesApi.get_address"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling AddressesApi.get_address"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/addresses/{addressId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{addressId}', CGI.escape(address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAddresses200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AddressesApi.get_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddressesApi#get_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List addresses
    # Returns a paginated list of addresses for the organization, optionally filtered by type.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @option opts [String] :type Filter by address type (sender, pickup, return)
    # @return [ListAddresses200Response]
    def list_addresses(org_id, opts = {})
      data, _status_code, _headers = list_addresses_with_http_info(org_id, opts)
      data
    end

    # List addresses
    # Returns a paginated list of addresses for the organization, optionally filtered by type.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @option opts [String] :type Filter by address type (sender, pickup, return)
    # @return [Array<(ListAddresses200Response, Integer, Hash)>] ListAddresses200Response data, response status code and response headers
    def list_addresses_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddressesApi.list_addresses ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AddressesApi.list_addresses"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 9007199254740991
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AddressesApi.list_addresses, must be smaller than or equal to 9007199254740991.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AddressesApi.list_addresses, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AddressesApi.list_addresses, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AddressesApi.list_addresses, must be greater than or equal to 1.'
      end

      allowable_values = ["sender", "pickup", "return"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/addresses'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAddresses200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AddressesApi.list_addresses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddressesApi#list_addresses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update address
    # Updates an existing address belonging to the organization.
    # @param org_id [String] Organization ID
    # @param address_id [String] Address ID
    # @param update_address_request [UpdateAddressRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ListAddresses200ResponseDataInner]
    def update_address(org_id, address_id, update_address_request, opts = {})
      data, _status_code, _headers = update_address_with_http_info(org_id, address_id, update_address_request, opts)
      data
    end

    # Update address
    # Updates an existing address belonging to the organization.
    # @param org_id [String] Organization ID
    # @param address_id [String] Address ID
    # @param update_address_request [UpdateAddressRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListAddresses200ResponseDataInner, Integer, Hash)>] ListAddresses200ResponseDataInner data, response status code and response headers
    def update_address_with_http_info(org_id, address_id, update_address_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddressesApi.update_address ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AddressesApi.update_address"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling AddressesApi.update_address"
      end
      # verify the required parameter 'update_address_request' is set
      if @api_client.config.client_side_validation && update_address_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_address_request' when calling AddressesApi.update_address"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/addresses/{addressId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{addressId}', CGI.escape(address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_address_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ListAddresses200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AddressesApi.update_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddressesApi#update_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
