=begin
#Zippendo Public API

#Public API documentation for Zippendo. Authenticate using your API token (Bearer token prefixed with zipp_).  **Brands (sub-accounts).** An organization can be split into brands, each keeping its own orders, shipments and configuration separate. There are two ways to scope requests to one brand, and NEITHER changes any request body:  1. **Bind the token.** Create an API token with a `brandId` and every request it makes is confined    to that brand — reads filtered, writes stamped. This is the recommended way to give a single    brand's team its own credential. 2. **Send the `X-Zippendo-Brand` header.** An organization-wide token can scope an individual    request by sending the brand's id or slug in this header. Most SDKs let you set it once on the    client so every call inherits it.  A brand-bound token that receives an `X-Zippendo-Brand` header naming a different brand is rejected with `403 BRAND_ACCESS_DENIED` — the binding is never widened. Omit both and requests cover the whole organization, which is the behaviour of every existing token.  Records that belong to no brand carry `brandId: null`. Configuration (carriers, shipping rules, addresses) with a null brand is organization-wide and remains visible inside every brand; orders and shipments with a null brand are only visible organization-wide.  List endpoints additionally take a `?brandScope=own|shared|both` parameter to narrow further within whichever brand context already applies. `own` returns only rows assigned to that brand, and requires a brand context — a brand-bound token, a resolved brand session, or the `X-Zippendo-Brand` header above — otherwise `400`. `shared` returns only the organization-wide rows (equivalent to filtering `brandId=none`). The default, `both`, keeps the existing behaviour: a brand context sees its own rows plus the organization-wide ones. Set `X-Zippendo-Brand-Scope` as a client default to apply the same choice to every request instead of repeating the query parameter on each call — an explicit `brandScope` query parameter always wins over the header, and a blank header value is ignored.  Brands themselves are managed under the **Brands** tag. Retiring a brand is done with `POST /orgs/{orgId}/brands/{brandId}/archive` — permanent deletion is a dashboard-only action, since it is refused while any order, shipment, member or token still references the brand. Brands require a plan that includes them; creating one beyond your plan's limit returns `403`.

The version of the OpenAPI document: 1.0.0
Contact: support@zippendo.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Zippendo
  class BrandsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Archive brand
    # Archives a brand: it leaves the brand switcher and default listings, but its orders, shipments and settings are retained and remain visible in the organization-wide view.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param [Hash] opts the optional parameters
    # @return [ListOrgBrands200ResponseDataInner]
    def archive_org_brand(org_id, brand_id, opts = {})
      data, _status_code, _headers = archive_org_brand_with_http_info(org_id, brand_id, opts)
      data
    end

    # Archive brand
    # Archives a brand: it leaves the brand switcher and default listings, but its orders, shipments and settings are retained and remain visible in the organization-wide view.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListOrgBrands200ResponseDataInner, Integer, Hash)>] ListOrgBrands200ResponseDataInner data, response status code and response headers
    def archive_org_brand_with_http_info(org_id, brand_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.archive_org_brand ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BrandsApi.archive_org_brand"
      end
      # verify the required parameter 'brand_id' is set
      if @api_client.config.client_side_validation && brand_id.nil?
        fail ArgumentError, "Missing the required parameter 'brand_id' when calling BrandsApi.archive_org_brand"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/brands/{brandId}/archive'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{brandId}', CGI.escape(brand_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrgBrands200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.archive_org_brand",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#archive_org_brand\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check brand slug availability
    # Reports whether a brand slug is free within this organization. Brand slugs are unique per organization, so the same slug may exist in another organization. Archived brands still hold their slug.
    # @param org_id [String] Organization ID
    # @param slug [String] Brand slug to check
    # @param [Hash] opts the optional parameters
    # @return [CheckBrandSlug200Response]
    def check_brand_slug(org_id, slug, opts = {})
      data, _status_code, _headers = check_brand_slug_with_http_info(org_id, slug, opts)
      data
    end

    # Check brand slug availability
    # Reports whether a brand slug is free within this organization. Brand slugs are unique per organization, so the same slug may exist in another organization. Archived brands still hold their slug.
    # @param org_id [String] Organization ID
    # @param slug [String] Brand slug to check
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckBrandSlug200Response, Integer, Hash)>] CheckBrandSlug200Response data, response status code and response headers
    def check_brand_slug_with_http_info(org_id, slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.check_brand_slug ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BrandsApi.check_brand_slug"
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling BrandsApi.check_brand_slug"
      end
      if @api_client.config.client_side_validation && slug.to_s.length > 60
        fail ArgumentError, 'invalid value for "slug" when calling BrandsApi.check_brand_slug, the character length must be smaller than or equal to 60.'
      end

      if @api_client.config.client_side_validation && slug.to_s.length < 2
        fail ArgumentError, 'invalid value for "slug" when calling BrandsApi.check_brand_slug, the character length must be greater than or equal to 2.'
      end

      pattern = Regexp.new(/^[a-z0-9]+(?:-[a-z0-9]+)*$/)
      if @api_client.config.client_side_validation && slug !~ pattern
        fail ArgumentError, "invalid value for 'slug' when calling BrandsApi.check_brand_slug, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/orgs/{orgId}/brands/check-slug/{slug}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{slug}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckBrandSlug200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.check_brand_slug",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#check_brand_slug\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create brand
    # Creates a brand (sub-account) in the organization. The slug is derived from the name when omitted. Requires a plan that includes brands.
    # @param org_id [String] Organization ID
    # @param create_org_brand_request [CreateOrgBrandRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ListOrgBrands200ResponseDataInner]
    def create_org_brand(org_id, create_org_brand_request, opts = {})
      data, _status_code, _headers = create_org_brand_with_http_info(org_id, create_org_brand_request, opts)
      data
    end

    # Create brand
    # Creates a brand (sub-account) in the organization. The slug is derived from the name when omitted. Requires a plan that includes brands.
    # @param org_id [String] Organization ID
    # @param create_org_brand_request [CreateOrgBrandRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListOrgBrands200ResponseDataInner, Integer, Hash)>] ListOrgBrands200ResponseDataInner data, response status code and response headers
    def create_org_brand_with_http_info(org_id, create_org_brand_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.create_org_brand ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BrandsApi.create_org_brand"
      end
      # verify the required parameter 'create_org_brand_request' is set
      if @api_client.config.client_side_validation && create_org_brand_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_org_brand_request' when calling BrandsApi.create_org_brand"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/brands'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_org_brand_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrgBrands200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.create_org_brand",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#create_org_brand\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete brand logo
    # Removes a brand's logo. Its documents fall back to the organization's logo. Requires the brands and customBranding entitlements.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param [Hash] opts the optional parameters
    # @return [ListOrgBrands200ResponseDataInner]
    def delete_brand_logo(org_id, brand_id, opts = {})
      data, _status_code, _headers = delete_brand_logo_with_http_info(org_id, brand_id, opts)
      data
    end

    # Delete brand logo
    # Removes a brand&#39;s logo. Its documents fall back to the organization&#39;s logo. Requires the brands and customBranding entitlements.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListOrgBrands200ResponseDataInner, Integer, Hash)>] ListOrgBrands200ResponseDataInner data, response status code and response headers
    def delete_brand_logo_with_http_info(org_id, brand_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.delete_brand_logo ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BrandsApi.delete_brand_logo"
      end
      # verify the required parameter 'brand_id' is set
      if @api_client.config.client_side_validation && brand_id.nil?
        fail ArgumentError, "Missing the required parameter 'brand_id' when calling BrandsApi.delete_brand_logo"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/brands/{brandId}/logo'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{brandId}', CGI.escape(brand_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrgBrands200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.delete_brand_logo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#delete_brand_logo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get brand logo
    # Streams the brand's logo bytes. This is the URL returned as the brand's `logoUrl`.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param [Hash] opts the optional parameters
    # @return [File]
    def get_brand_logo(org_id, brand_id, opts = {})
      data, _status_code, _headers = get_brand_logo_with_http_info(org_id, brand_id, opts)
      data
    end

    # Get brand logo
    # Streams the brand&#39;s logo bytes. This is the URL returned as the brand&#39;s &#x60;logoUrl&#x60;.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_brand_logo_with_http_info(org_id, brand_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.get_brand_logo ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BrandsApi.get_brand_logo"
      end
      # verify the required parameter 'brand_id' is set
      if @api_client.config.client_side_validation && brand_id.nil?
        fail ArgumentError, "Missing the required parameter 'brand_id' when calling BrandsApi.get_brand_logo"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/brands/{brandId}/logo'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{brandId}', CGI.escape(brand_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['image/png', 'image/jpeg', 'image/webp']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.get_brand_logo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#get_brand_logo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get brand
    # Returns a single brand (sub-account) by id.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param [Hash] opts the optional parameters
    # @return [ListOrgBrands200ResponseDataInner]
    def get_org_brand(org_id, brand_id, opts = {})
      data, _status_code, _headers = get_org_brand_with_http_info(org_id, brand_id, opts)
      data
    end

    # Get brand
    # Returns a single brand (sub-account) by id.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListOrgBrands200ResponseDataInner, Integer, Hash)>] ListOrgBrands200ResponseDataInner data, response status code and response headers
    def get_org_brand_with_http_info(org_id, brand_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.get_org_brand ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BrandsApi.get_org_brand"
      end
      # verify the required parameter 'brand_id' is set
      if @api_client.config.client_side_validation && brand_id.nil?
        fail ArgumentError, "Missing the required parameter 'brand_id' when calling BrandsApi.get_org_brand"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/brands/{brandId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{brandId}', CGI.escape(brand_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrgBrands200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.get_org_brand",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#get_org_brand\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List brands
    # Returns the organization's brands (sub-accounts). Archived brands are excluded unless `includeArchived` is set.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include_archived Include archived brands in the response
    # @return [ListOrgBrands200Response]
    def list_org_brands(org_id, opts = {})
      data, _status_code, _headers = list_org_brands_with_http_info(org_id, opts)
      data
    end

    # List brands
    # Returns the organization&#39;s brands (sub-accounts). Archived brands are excluded unless &#x60;includeArchived&#x60; is set.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include_archived Include archived brands in the response
    # @return [Array<(ListOrgBrands200Response, Integer, Hash)>] ListOrgBrands200Response data, response status code and response headers
    def list_org_brands_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.list_org_brands ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BrandsApi.list_org_brands"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/brands'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeArchived'] = opts[:'include_archived'] if !opts[:'include_archived'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrgBrands200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.list_org_brands",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#list_org_brands\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unarchive brand
    # Restores an archived brand so it appears in the brand switcher again.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param [Hash] opts the optional parameters
    # @return [ListOrgBrands200ResponseDataInner]
    def unarchive_org_brand(org_id, brand_id, opts = {})
      data, _status_code, _headers = unarchive_org_brand_with_http_info(org_id, brand_id, opts)
      data
    end

    # Unarchive brand
    # Restores an archived brand so it appears in the brand switcher again.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListOrgBrands200ResponseDataInner, Integer, Hash)>] ListOrgBrands200ResponseDataInner data, response status code and response headers
    def unarchive_org_brand_with_http_info(org_id, brand_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.unarchive_org_brand ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BrandsApi.unarchive_org_brand"
      end
      # verify the required parameter 'brand_id' is set
      if @api_client.config.client_side_validation && brand_id.nil?
        fail ArgumentError, "Missing the required parameter 'brand_id' when calling BrandsApi.unarchive_org_brand"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/brands/{brandId}/unarchive'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{brandId}', CGI.escape(brand_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrgBrands200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.unarchive_org_brand",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#unarchive_org_brand\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update brand
    # Updates a brand's name, slug, identity overrides (company name, VAT, customs, address) and document colours. Null clears an override so the organization's value applies again.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param update_org_brand_request [UpdateOrgBrandRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ListOrgBrands200ResponseDataInner]
    def update_org_brand(org_id, brand_id, update_org_brand_request, opts = {})
      data, _status_code, _headers = update_org_brand_with_http_info(org_id, brand_id, update_org_brand_request, opts)
      data
    end

    # Update brand
    # Updates a brand&#39;s name, slug, identity overrides (company name, VAT, customs, address) and document colours. Null clears an override so the organization&#39;s value applies again.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param update_org_brand_request [UpdateOrgBrandRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListOrgBrands200ResponseDataInner, Integer, Hash)>] ListOrgBrands200ResponseDataInner data, response status code and response headers
    def update_org_brand_with_http_info(org_id, brand_id, update_org_brand_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.update_org_brand ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BrandsApi.update_org_brand"
      end
      # verify the required parameter 'brand_id' is set
      if @api_client.config.client_side_validation && brand_id.nil?
        fail ArgumentError, "Missing the required parameter 'brand_id' when calling BrandsApi.update_org_brand"
      end
      # verify the required parameter 'update_org_brand_request' is set
      if @api_client.config.client_side_validation && update_org_brand_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_org_brand_request' when calling BrandsApi.update_org_brand"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/brands/{brandId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{brandId}', CGI.escape(brand_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_org_brand_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrgBrands200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.update_org_brand",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#update_org_brand\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload brand logo
    # Uploads a brand's logo as multipart/form-data. Accepts PNG, JPG or WEBP up to 5MB and 4096×4096px; the image is re-encoded and stored. Documents for this brand's shipments use it instead of the organization's logo. Requires the brands and customBranding entitlements.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param file [File] Image file (PNG, JPG, or WEBP)
    # @param [Hash] opts the optional parameters
    # @return [ListOrgBrands200ResponseDataInner]
    def upload_brand_logo(org_id, brand_id, file, opts = {})
      data, _status_code, _headers = upload_brand_logo_with_http_info(org_id, brand_id, file, opts)
      data
    end

    # Upload brand logo
    # Uploads a brand&#39;s logo as multipart/form-data. Accepts PNG, JPG or WEBP up to 5MB and 4096×4096px; the image is re-encoded and stored. Documents for this brand&#39;s shipments use it instead of the organization&#39;s logo. Requires the brands and customBranding entitlements.
    # @param org_id [String] Organization ID
    # @param brand_id [String] Brand ID
    # @param file [File] Image file (PNG, JPG, or WEBP)
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListOrgBrands200ResponseDataInner, Integer, Hash)>] ListOrgBrands200ResponseDataInner data, response status code and response headers
    def upload_brand_logo_with_http_info(org_id, brand_id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.upload_brand_logo ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BrandsApi.upload_brand_logo"
      end
      # verify the required parameter 'brand_id' is set
      if @api_client.config.client_side_validation && brand_id.nil?
        fail ArgumentError, "Missing the required parameter 'brand_id' when calling BrandsApi.upload_brand_logo"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling BrandsApi.upload_brand_logo"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/brands/{brandId}/logo'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{brandId}', CGI.escape(brand_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrgBrands200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.upload_brand_logo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#upload_brand_logo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
