=begin
#Zippendo Public API

#Public API documentation for Zippendo. Authenticate using your API token (Bearer token prefixed with zipp_).  **Brands (sub-accounts).** An organization can be split into brands, each keeping its own orders, shipments and configuration separate. There are two ways to scope requests to one brand, and NEITHER changes any request body:  1. **Bind the token.** Create an API token with a `brandId` and every request it makes is confined    to that brand — reads filtered, writes stamped. This is the recommended way to give a single    brand's team its own credential. 2. **Send the `X-Zippendo-Brand` header.** An organization-wide token can scope an individual    request by sending the brand's id or slug in this header. Most SDKs let you set it once on the    client so every call inherits it.  A brand-bound token that receives an `X-Zippendo-Brand` header naming a different brand is rejected with `403 BRAND_ACCESS_DENIED` — the binding is never widened. Omit both and requests cover the whole organization, which is the behaviour of every existing token.  Records that belong to no brand carry `brandId: null`. Configuration (carriers, shipping rules, addresses) with a null brand is organization-wide and remains visible inside every brand; orders and shipments with a null brand are only visible organization-wide.

The version of the OpenAPI document: 1.0.0
Contact: support@zippendo.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Zippendo
  class CarriersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Connect carrier
    # Connects a new carrier to the organization with its configuration.
    # @param org_id [String] Organization ID
    # @param connect_carrier_request [ConnectCarrierRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ListCarriers200ResponseDataInner]
    def connect_carrier(org_id, connect_carrier_request, opts = {})
      data, _status_code, _headers = connect_carrier_with_http_info(org_id, connect_carrier_request, opts)
      data
    end

    # Connect carrier
    # Connects a new carrier to the organization with its configuration.
    # @param org_id [String] Organization ID
    # @param connect_carrier_request [ConnectCarrierRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListCarriers200ResponseDataInner, Integer, Hash)>] ListCarriers200ResponseDataInner data, response status code and response headers
    def connect_carrier_with_http_info(org_id, connect_carrier_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarriersApi.connect_carrier ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling CarriersApi.connect_carrier"
      end
      # verify the required parameter 'connect_carrier_request' is set
      if @api_client.config.client_side_validation && connect_carrier_request.nil?
        fail ArgumentError, "Missing the required parameter 'connect_carrier_request' when calling CarriersApi.connect_carrier"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/carriers'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connect_carrier_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ListCarriers200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CarriersApi.connect_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#connect_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disconnect carrier
    # Disconnects a carrier from the organization.
    # @param org_id [String] Organization ID
    # @param carrier_id [String] Carrier ID
    # @param [Hash] opts the optional parameters
    # @return [String]
    def disconnect_carrier(org_id, carrier_id, opts = {})
      data, _status_code, _headers = disconnect_carrier_with_http_info(org_id, carrier_id, opts)
      data
    end

    # Disconnect carrier
    # Disconnects a carrier from the organization.
    # @param org_id [String] Organization ID
    # @param carrier_id [String] Carrier ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def disconnect_carrier_with_http_info(org_id, carrier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarriersApi.disconnect_carrier ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling CarriersApi.disconnect_carrier"
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.disconnect_carrier"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/carriers/{carrierId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{carrierId}', CGI.escape(carrier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CarriersApi.disconnect_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#disconnect_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get carrier
    # Returns a single connected carrier.
    # @param org_id [String] Organization ID
    # @param carrier_id [String] Carrier ID
    # @param [Hash] opts the optional parameters
    # @return [ListCarriers200ResponseDataInner]
    def get_carrier(org_id, carrier_id, opts = {})
      data, _status_code, _headers = get_carrier_with_http_info(org_id, carrier_id, opts)
      data
    end

    # Get carrier
    # Returns a single connected carrier.
    # @param org_id [String] Organization ID
    # @param carrier_id [String] Carrier ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListCarriers200ResponseDataInner, Integer, Hash)>] ListCarriers200ResponseDataInner data, response status code and response headers
    def get_carrier_with_http_info(org_id, carrier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarriersApi.get_carrier ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling CarriersApi.get_carrier"
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.get_carrier"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/carriers/{carrierId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{carrierId}', CGI.escape(carrier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCarriers200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CarriersApi.get_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#get_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List product service points
    # Returns pickup service points near a location for a specific carrier product.
    # @param org_id [String] Organization ID
    # @param carrier_id [String] Carrier ID
    # @param product_id [String] Carrier product ID
    # @param list_carrier_product_service_points_request [ListCarrierProductServicePointsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<ListCarrierProductServicePoints200ResponseInner>]
    def list_carrier_product_service_points(org_id, carrier_id, product_id, list_carrier_product_service_points_request, opts = {})
      data, _status_code, _headers = list_carrier_product_service_points_with_http_info(org_id, carrier_id, product_id, list_carrier_product_service_points_request, opts)
      data
    end

    # List product service points
    # Returns pickup service points near a location for a specific carrier product.
    # @param org_id [String] Organization ID
    # @param carrier_id [String] Carrier ID
    # @param product_id [String] Carrier product ID
    # @param list_carrier_product_service_points_request [ListCarrierProductServicePointsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ListCarrierProductServicePoints200ResponseInner>, Integer, Hash)>] Array<ListCarrierProductServicePoints200ResponseInner> data, response status code and response headers
    def list_carrier_product_service_points_with_http_info(org_id, carrier_id, product_id, list_carrier_product_service_points_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarriersApi.list_carrier_product_service_points ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling CarriersApi.list_carrier_product_service_points"
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.list_carrier_product_service_points"
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling CarriersApi.list_carrier_product_service_points"
      end
      # verify the required parameter 'list_carrier_product_service_points_request' is set
      if @api_client.config.client_side_validation && list_carrier_product_service_points_request.nil?
        fail ArgumentError, "Missing the required parameter 'list_carrier_product_service_points_request' when calling CarriersApi.list_carrier_product_service_points"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/carriers/{carrierId}/products/{productId}/service-points'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{carrierId}', CGI.escape(carrier_id.to_s)).sub('{productId}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(list_carrier_product_service_points_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListCarrierProductServicePoints200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CarriersApi.list_carrier_product_service_points",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#list_carrier_product_service_points\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List carrier products
    # Returns the shipping products available for a connected carrier.
    # @param org_id [String] Organization ID
    # @param carrier_id [String] Carrier ID
    # @param [Hash] opts the optional parameters
    # @return [Array<ListCarrierProducts200ResponseInner>]
    def list_carrier_products(org_id, carrier_id, opts = {})
      data, _status_code, _headers = list_carrier_products_with_http_info(org_id, carrier_id, opts)
      data
    end

    # List carrier products
    # Returns the shipping products available for a connected carrier.
    # @param org_id [String] Organization ID
    # @param carrier_id [String] Carrier ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ListCarrierProducts200ResponseInner>, Integer, Hash)>] Array<ListCarrierProducts200ResponseInner> data, response status code and response headers
    def list_carrier_products_with_http_info(org_id, carrier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarriersApi.list_carrier_products ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling CarriersApi.list_carrier_products"
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.list_carrier_products"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/carriers/{carrierId}/products'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{carrierId}', CGI.escape(carrier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListCarrierProducts200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CarriersApi.list_carrier_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#list_carrier_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List carriers
    # Returns a paginated list of carriers connected to the organization.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @return [ListCarriers200Response]
    def list_carriers(org_id, opts = {})
      data, _status_code, _headers = list_carriers_with_http_info(org_id, opts)
      data
    end

    # List carriers
    # Returns a paginated list of carriers connected to the organization.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @return [Array<(ListCarriers200Response, Integer, Hash)>] ListCarriers200Response data, response status code and response headers
    def list_carriers_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarriersApi.list_carriers ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling CarriersApi.list_carriers"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 9007199254740991
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling CarriersApi.list_carriers, must be smaller than or equal to 9007199254740991.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling CarriersApi.list_carriers, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CarriersApi.list_carriers, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CarriersApi.list_carriers, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/orgs/{orgId}/carriers'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCarriers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CarriersApi.list_carriers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#list_carriers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update carrier
    # Updates a connected carrier's configuration or name.
    # @param org_id [String] Organization ID
    # @param carrier_id [String] Carrier ID
    # @param update_carrier_request [UpdateCarrierRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ListCarriers200ResponseDataInner]
    def update_carrier(org_id, carrier_id, update_carrier_request, opts = {})
      data, _status_code, _headers = update_carrier_with_http_info(org_id, carrier_id, update_carrier_request, opts)
      data
    end

    # Update carrier
    # Updates a connected carrier&#39;s configuration or name.
    # @param org_id [String] Organization ID
    # @param carrier_id [String] Carrier ID
    # @param update_carrier_request [UpdateCarrierRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListCarriers200ResponseDataInner, Integer, Hash)>] ListCarriers200ResponseDataInner data, response status code and response headers
    def update_carrier_with_http_info(org_id, carrier_id, update_carrier_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarriersApi.update_carrier ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling CarriersApi.update_carrier"
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.update_carrier"
      end
      # verify the required parameter 'update_carrier_request' is set
      if @api_client.config.client_side_validation && update_carrier_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_carrier_request' when calling CarriersApi.update_carrier"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/carriers/{carrierId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{carrierId}', CGI.escape(carrier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_carrier_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ListCarriers200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CarriersApi.update_carrier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#update_carrier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
