=begin
#Zippendo Public API

#Public API documentation for Zippendo. Authenticate using your API token (Bearer token prefixed with zipp_).  **Brands (sub-accounts).** An organization can be split into brands, each keeping its own orders, shipments and configuration separate. There are two ways to scope requests to one brand, and NEITHER changes any request body:  1. **Bind the token.** Create an API token with a `brandId` and every request it makes is confined    to that brand — reads filtered, writes stamped. This is the recommended way to give a single    brand's team its own credential. 2. **Send the `X-Zippendo-Brand` header.** An organization-wide token can scope an individual    request by sending the brand's id or slug in this header. Most SDKs let you set it once on the    client so every call inherits it.  A brand-bound token that receives an `X-Zippendo-Brand` header naming a different brand is rejected with `403 BRAND_ACCESS_DENIED` — the binding is never widened. Omit both and requests cover the whole organization, which is the behaviour of every existing token.  Records that belong to no brand carry `brandId: null`. Configuration (carriers, shipping rules, addresses) with a null brand is organization-wide and remains visible inside every brand; orders and shipments with a null brand are only visible organization-wide.  List endpoints additionally take a `?brandScope=own|shared|both` parameter to narrow further within whichever brand context already applies. `own` returns only rows assigned to that brand, and requires a brand context — a brand-bound token, a resolved brand session, or the `X-Zippendo-Brand` header above — otherwise `400`. `shared` returns only the organization-wide rows (equivalent to filtering `brandId=none`). The default, `both`, keeps the existing behaviour: a brand context sees its own rows plus the organization-wide ones. Set `X-Zippendo-Brand-Scope` as a client default to apply the same choice to every request instead of repeating the query parameter on each call — an explicit `brandScope` query parameter always wins over the header, and a blank header value is ignored.  Brands themselves are managed under the **Brands** tag. Retiring a brand is done with `POST /orgs/{orgId}/brands/{brandId}/archive` — permanent deletion is a dashboard-only action, since it is refused while any order, shipment, member or token still references the brand. Brands require a plan that includes them; creating one beyond your plan's limit returns `403`.

The version of the OpenAPI document: 1.0.0
Contact: support@zippendo.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Zippendo
  class OrderChannelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create order channel
    # Creates a new order channel for an organization.
    # @param org_id [String] Organization ID
    # @param create_order_channel_request [CreateOrderChannelRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ListOrderChannels200ResponseDataInner]
    def create_order_channel(org_id, create_order_channel_request, opts = {})
      data, _status_code, _headers = create_order_channel_with_http_info(org_id, create_order_channel_request, opts)
      data
    end

    # Create order channel
    # Creates a new order channel for an organization.
    # @param org_id [String] Organization ID
    # @param create_order_channel_request [CreateOrderChannelRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListOrderChannels200ResponseDataInner, Integer, Hash)>] ListOrderChannels200ResponseDataInner data, response status code and response headers
    def create_order_channel_with_http_info(org_id, create_order_channel_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderChannelsApi.create_order_channel ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrderChannelsApi.create_order_channel"
      end
      # verify the required parameter 'create_order_channel_request' is set
      if @api_client.config.client_side_validation && create_order_channel_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_order_channel_request' when calling OrderChannelsApi.create_order_channel"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/order-channels'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_order_channel_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrderChannels200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrderChannelsApi.create_order_channel",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderChannelsApi#create_order_channel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or rotate webhook signing secret
    # Generates (or rotates) the custom channel's webhook signing secret used to authenticate order pushes to the ingest URL. The secret is returned only once. Rotating invalidates the previous secret immediately.
    # @param org_id [String] Organization ID.
    # @param channel_id [String] Order channel ID.
    # @param [Hash] opts the optional parameters
    # @return [CreateOrderChannelWebhookSecret201Response]
    def create_order_channel_webhook_secret(org_id, channel_id, opts = {})
      data, _status_code, _headers = create_order_channel_webhook_secret_with_http_info(org_id, channel_id, opts)
      data
    end

    # Create or rotate webhook signing secret
    # Generates (or rotates) the custom channel&#39;s webhook signing secret used to authenticate order pushes to the ingest URL. The secret is returned only once. Rotating invalidates the previous secret immediately.
    # @param org_id [String] Organization ID.
    # @param channel_id [String] Order channel ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateOrderChannelWebhookSecret201Response, Integer, Hash)>] CreateOrderChannelWebhookSecret201Response data, response status code and response headers
    def create_order_channel_webhook_secret_with_http_info(org_id, channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderChannelsApi.create_order_channel_webhook_secret ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrderChannelsApi.create_order_channel_webhook_secret"
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling OrderChannelsApi.create_order_channel_webhook_secret"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/order-channels/{channelId}/webhook-secret'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{channelId}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateOrderChannelWebhookSecret201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrderChannelsApi.create_order_channel_webhook_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderChannelsApi#create_order_channel_webhook_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete order channel
    # Deletes an order channel and cascades deletion of its orders.
    # @param org_id [String] Organization ID.
    # @param channel_id [String] Order channel ID.
    # @param [Hash] opts the optional parameters
    # @return [RevokeApiToken200Response]
    def delete_order_channel(org_id, channel_id, opts = {})
      data, _status_code, _headers = delete_order_channel_with_http_info(org_id, channel_id, opts)
      data
    end

    # Delete order channel
    # Deletes an order channel and cascades deletion of its orders.
    # @param org_id [String] Organization ID.
    # @param channel_id [String] Order channel ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RevokeApiToken200Response, Integer, Hash)>] RevokeApiToken200Response data, response status code and response headers
    def delete_order_channel_with_http_info(org_id, channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderChannelsApi.delete_order_channel ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrderChannelsApi.delete_order_channel"
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling OrderChannelsApi.delete_order_channel"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/order-channels/{channelId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{channelId}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RevokeApiToken200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrderChannelsApi.delete_order_channel",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderChannelsApi#delete_order_channel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get order channel
    # Returns a single order channel by ID, including its linked shipping rules.
    # @param org_id [String] Organization ID.
    # @param channel_id [String] Order channel ID.
    # @param [Hash] opts the optional parameters
    # @return [ListOrderChannels200ResponseDataInner]
    def get_order_channel(org_id, channel_id, opts = {})
      data, _status_code, _headers = get_order_channel_with_http_info(org_id, channel_id, opts)
      data
    end

    # Get order channel
    # Returns a single order channel by ID, including its linked shipping rules.
    # @param org_id [String] Organization ID.
    # @param channel_id [String] Order channel ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListOrderChannels200ResponseDataInner, Integer, Hash)>] ListOrderChannels200ResponseDataInner data, response status code and response headers
    def get_order_channel_with_http_info(org_id, channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderChannelsApi.get_order_channel ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrderChannelsApi.get_order_channel"
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling OrderChannelsApi.get_order_channel"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/order-channels/{channelId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{channelId}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrderChannels200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrderChannelsApi.get_order_channel",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderChannelsApi#get_order_channel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get channel webhook status
    # Returns whether webhooks are enabled and lists the webhooks registered with the platform.
    # @param org_id [String] Organization ID.
    # @param channel_id [String] Order channel ID.
    # @param [Hash] opts the optional parameters
    # @return [GetOrderChannelWebhookStatus200Response]
    def get_order_channel_webhook_status(org_id, channel_id, opts = {})
      data, _status_code, _headers = get_order_channel_webhook_status_with_http_info(org_id, channel_id, opts)
      data
    end

    # Get channel webhook status
    # Returns whether webhooks are enabled and lists the webhooks registered with the platform.
    # @param org_id [String] Organization ID.
    # @param channel_id [String] Order channel ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetOrderChannelWebhookStatus200Response, Integer, Hash)>] GetOrderChannelWebhookStatus200Response data, response status code and response headers
    def get_order_channel_webhook_status_with_http_info(org_id, channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderChannelsApi.get_order_channel_webhook_status ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrderChannelsApi.get_order_channel_webhook_status"
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling OrderChannelsApi.get_order_channel_webhook_status"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/order-channels/{channelId}/webhooks'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{channelId}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOrderChannelWebhookStatus200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrderChannelsApi.get_order_channel_webhook_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderChannelsApi#get_order_channel_webhook_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List order channels
    # Returns a paginated list of order channels for an organization.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @option opts [String] :brand_id Filter by brand. Pass a brand ID, or \&quot;none\&quot; for records not assigned to any brand.
    # @option opts [String] :brand_scope How the brand context narrows this list: \&quot;own\&quot; returns only rows assigned to the current brand (requires a brand session, a brand-bound token, or the X-Zippendo-Brand header), \&quot;shared\&quot; returns only unassigned organization-wide rows, \&quot;both\&quot; (default) returns both. The X-Zippendo-Brand-Scope header supplies a default when the parameter is omitted. For strictly brand-owned records (orders, shipments), a brand-scoped request combined with \&quot;shared\&quot; returns no rows, since those records are never visible organization-wide from within a brand context.
    # @option opts [String] :type Filter by channel type.
    # @option opts [String] :enabled Filter by enabled state.
    # @option opts [String] :search Search by channel name.
    # @return [ListOrderChannels200Response]
    def list_order_channels(org_id, opts = {})
      data, _status_code, _headers = list_order_channels_with_http_info(org_id, opts)
      data
    end

    # List order channels
    # Returns a paginated list of order channels for an organization.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @option opts [String] :brand_id Filter by brand. Pass a brand ID, or \&quot;none\&quot; for records not assigned to any brand.
    # @option opts [String] :brand_scope How the brand context narrows this list: \&quot;own\&quot; returns only rows assigned to the current brand (requires a brand session, a brand-bound token, or the X-Zippendo-Brand header), \&quot;shared\&quot; returns only unassigned organization-wide rows, \&quot;both\&quot; (default) returns both. The X-Zippendo-Brand-Scope header supplies a default when the parameter is omitted. For strictly brand-owned records (orders, shipments), a brand-scoped request combined with \&quot;shared\&quot; returns no rows, since those records are never visible organization-wide from within a brand context.
    # @option opts [String] :type Filter by channel type.
    # @option opts [String] :enabled Filter by enabled state.
    # @option opts [String] :search Search by channel name.
    # @return [Array<(ListOrderChannels200Response, Integer, Hash)>] ListOrderChannels200Response data, response status code and response headers
    def list_order_channels_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderChannelsApi.list_order_channels ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrderChannelsApi.list_order_channels"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 9007199254740991
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling OrderChannelsApi.list_order_channels, must be smaller than or equal to 9007199254740991.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling OrderChannelsApi.list_order_channels, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OrderChannelsApi.list_order_channels, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OrderChannelsApi.list_order_channels, must be greater than or equal to 1.'
      end

      allowable_values = ["own", "shared", "both"]
      if @api_client.config.client_side_validation && opts[:'brand_scope'] && !allowable_values.include?(opts[:'brand_scope'])
        fail ArgumentError, "invalid value for \"brand_scope\", must be one of #{allowable_values}"
      end
      allowable_values = ["shopify", "woocommerce", "manual", "custom"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/order-channels'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'brandId'] = opts[:'brand_id'] if !opts[:'brand_id'].nil?
      query_params[:'brandScope'] = opts[:'brand_scope'] if !opts[:'brand_scope'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'enabled'] = opts[:'enabled'] if !opts[:'enabled'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrderChannels200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrderChannelsApi.list_order_channels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderChannelsApi#list_order_channels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke webhook signing secret
    # Revokes the custom channel's webhook signing secret. All subsequent pushes to the ingest URL are rejected until a new secret is generated.
    # @param org_id [String] Organization ID.
    # @param channel_id [String] Order channel ID.
    # @param [Hash] opts the optional parameters
    # @return [RevokeOrderChannelWebhookSecret200Response]
    def revoke_order_channel_webhook_secret(org_id, channel_id, opts = {})
      data, _status_code, _headers = revoke_order_channel_webhook_secret_with_http_info(org_id, channel_id, opts)
      data
    end

    # Revoke webhook signing secret
    # Revokes the custom channel&#39;s webhook signing secret. All subsequent pushes to the ingest URL are rejected until a new secret is generated.
    # @param org_id [String] Organization ID.
    # @param channel_id [String] Order channel ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RevokeOrderChannelWebhookSecret200Response, Integer, Hash)>] RevokeOrderChannelWebhookSecret200Response data, response status code and response headers
    def revoke_order_channel_webhook_secret_with_http_info(org_id, channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderChannelsApi.revoke_order_channel_webhook_secret ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrderChannelsApi.revoke_order_channel_webhook_secret"
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling OrderChannelsApi.revoke_order_channel_webhook_secret"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/order-channels/{channelId}/webhook-secret'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{channelId}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RevokeOrderChannelWebhookSecret200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrderChannelsApi.revoke_order_channel_webhook_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderChannelsApi#revoke_order_channel_webhook_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update order channel
    # Updates an order channel and its linked shipping rules.
    # @param org_id [String] Organization ID.
    # @param channel_id [String] Order channel ID.
    # @param update_order_channel_request [UpdateOrderChannelRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ListOrderChannels200ResponseDataInner]
    def update_order_channel(org_id, channel_id, update_order_channel_request, opts = {})
      data, _status_code, _headers = update_order_channel_with_http_info(org_id, channel_id, update_order_channel_request, opts)
      data
    end

    # Update order channel
    # Updates an order channel and its linked shipping rules.
    # @param org_id [String] Organization ID.
    # @param channel_id [String] Order channel ID.
    # @param update_order_channel_request [UpdateOrderChannelRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListOrderChannels200ResponseDataInner, Integer, Hash)>] ListOrderChannels200ResponseDataInner data, response status code and response headers
    def update_order_channel_with_http_info(org_id, channel_id, update_order_channel_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderChannelsApi.update_order_channel ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrderChannelsApi.update_order_channel"
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling OrderChannelsApi.update_order_channel"
      end
      # verify the required parameter 'update_order_channel_request' is set
      if @api_client.config.client_side_validation && update_order_channel_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_order_channel_request' when calling OrderChannelsApi.update_order_channel"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/order-channels/{channelId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{channelId}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_order_channel_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrderChannels200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrderChannelsApi.update_order_channel",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderChannelsApi#update_order_channel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
