=begin
#Zippendo Public API

#Public API documentation for Zippendo. Authenticate using your API token (Bearer token prefixed with zipp_).  **Brands (sub-accounts).** An organization can be split into brands, each keeping its own orders, shipments and configuration separate. There are two ways to scope requests to one brand, and NEITHER changes any request body:  1. **Bind the token.** Create an API token with a `brandId` and every request it makes is confined    to that brand — reads filtered, writes stamped. This is the recommended way to give a single    brand's team its own credential. 2. **Send the `X-Zippendo-Brand` header.** An organization-wide token can scope an individual    request by sending the brand's id or slug in this header. Most SDKs let you set it once on the    client so every call inherits it.  A brand-bound token that receives an `X-Zippendo-Brand` header naming a different brand is rejected with `403 BRAND_ACCESS_DENIED` — the binding is never widened. Omit both and requests cover the whole organization, which is the behaviour of every existing token.  Records that belong to no brand carry `brandId: null`. Configuration (carriers, shipping rules, addresses) with a null brand is organization-wide and remains visible inside every brand; orders and shipments with a null brand are only visible organization-wide.

The version of the OpenAPI document: 1.0.0
Contact: support@zippendo.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Zippendo
  class OrgsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete org logo
    # Removes the org logo. Requires the customBranding entitlement.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @return [GetOrgBranding200Response]
    def delete_org_logo(org_id, opts = {})
      data, _status_code, _headers = delete_org_logo_with_http_info(org_id, opts)
      data
    end

    # Delete org logo
    # Removes the org logo. Requires the customBranding entitlement.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetOrgBranding200Response, Integer, Hash)>] GetOrgBranding200Response data, response status code and response headers
    def delete_org_logo_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgsApi.delete_org_logo ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrgsApi.delete_org_logo"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/branding/logo'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOrgBranding200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgsApi.delete_org_logo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgsApi#delete_org_logo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get org
    # Returns a specific organization by ID, including its member count.
    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @return [GetOrg200Response]
    def get_org(id, opts = {})
      data, _status_code, _headers = get_org_with_http_info(id, opts)
      data
    end

    # Get org
    # Returns a specific organization by ID, including its member count.
    # @param id [String] Resource ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetOrg200Response, Integer, Hash)>] GetOrg200Response data, response status code and response headers
    def get_org_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgsApi.get_org ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OrgsApi.get_org"
      end
      # resource path
      local_var_path = '/orgs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOrg200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgsApi.get_org",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgsApi#get_org\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get org branding
    # Returns the org's brand colors and an authenticated URL to download the logo.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @return [GetOrgBranding200Response]
    def get_org_branding(org_id, opts = {})
      data, _status_code, _headers = get_org_branding_with_http_info(org_id, opts)
      data
    end

    # Get org branding
    # Returns the org&#39;s brand colors and an authenticated URL to download the logo.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetOrgBranding200Response, Integer, Hash)>] GetOrgBranding200Response data, response status code and response headers
    def get_org_branding_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgsApi.get_org_branding ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrgsApi.get_org_branding"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/branding'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOrgBranding200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgsApi.get_org_branding",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgsApi#get_org_branding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download org logo
    # Returns the org logo image bytes with the stored content type.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @return [File]
    def get_org_logo(org_id, opts = {})
      data, _status_code, _headers = get_org_logo_with_http_info(org_id, opts)
      data
    end

    # Download org logo
    # Returns the org logo image bytes with the stored content type.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_org_logo_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgsApi.get_org_logo ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrgsApi.get_org_logo"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/branding/logo'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['image/png', 'image/jpeg', 'image/webp']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgsApi.get_org_logo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgsApi#get_org_logo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update org
    # Updates an existing organization's profile, billing, and customs settings.
    # @param id [String] Resource ID
    # @param update_org_request [UpdateOrgRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateOrg200Response]
    def update_org(id, update_org_request, opts = {})
      data, _status_code, _headers = update_org_with_http_info(id, update_org_request, opts)
      data
    end

    # Update org
    # Updates an existing organization&#39;s profile, billing, and customs settings.
    # @param id [String] Resource ID
    # @param update_org_request [UpdateOrgRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateOrg200Response, Integer, Hash)>] UpdateOrg200Response data, response status code and response headers
    def update_org_with_http_info(id, update_org_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgsApi.update_org ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OrgsApi.update_org"
      end
      # verify the required parameter 'update_org_request' is set
      if @api_client.config.client_side_validation && update_org_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_org_request' when calling OrgsApi.update_org"
      end
      # resource path
      local_var_path = '/orgs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_org_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateOrg200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgsApi.update_org",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgsApi#update_org\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update org branding
    # Sets the org brand colors. Requires the customBranding entitlement.
    # @param org_id [String] Organization ID
    # @param update_org_branding_request [UpdateOrgBrandingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetOrgBranding200Response]
    def update_org_branding(org_id, update_org_branding_request, opts = {})
      data, _status_code, _headers = update_org_branding_with_http_info(org_id, update_org_branding_request, opts)
      data
    end

    # Update org branding
    # Sets the org brand colors. Requires the customBranding entitlement.
    # @param org_id [String] Organization ID
    # @param update_org_branding_request [UpdateOrgBrandingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetOrgBranding200Response, Integer, Hash)>] GetOrgBranding200Response data, response status code and response headers
    def update_org_branding_with_http_info(org_id, update_org_branding_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgsApi.update_org_branding ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrgsApi.update_org_branding"
      end
      # verify the required parameter 'update_org_branding_request' is set
      if @api_client.config.client_side_validation && update_org_branding_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_org_branding_request' when calling OrgsApi.update_org_branding"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/branding'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_org_branding_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetOrgBranding200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgsApi.update_org_branding",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgsApi#update_org_branding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload org logo
    # Uploads the org logo as multipart/form-data. Accepts PNG, JPG, or WEBP up to 5MB and 4096×4096px; the image is re-encoded and stored. Requires the customBranding entitlement.
    # @param org_id [String] Organization ID
    # @param file [File] Image file (PNG, JPG, or WEBP)
    # @param [Hash] opts the optional parameters
    # @return [GetOrgBranding200Response]
    def upload_org_logo(org_id, file, opts = {})
      data, _status_code, _headers = upload_org_logo_with_http_info(org_id, file, opts)
      data
    end

    # Upload org logo
    # Uploads the org logo as multipart/form-data. Accepts PNG, JPG, or WEBP up to 5MB and 4096×4096px; the image is re-encoded and stored. Requires the customBranding entitlement.
    # @param org_id [String] Organization ID
    # @param file [File] Image file (PNG, JPG, or WEBP)
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetOrgBranding200Response, Integer, Hash)>] GetOrgBranding200Response data, response status code and response headers
    def upload_org_logo_with_http_info(org_id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrgsApi.upload_org_logo ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrgsApi.upload_org_logo"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling OrgsApi.upload_org_logo"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/branding/logo'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOrgBranding200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrgsApi.upload_org_logo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrgsApi#upload_org_logo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
