=begin
#Zippendo Public API

#Public API documentation for Zippendo. Authenticate using your API token (Bearer token prefixed with zipp_).

The version of the OpenAPI document: 1.0.0
Contact: support@zippendo.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Zippendo
  class QuotesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Calculate shipping rates
    # Calculates shipping rates from configured shipping rules based on cart items and destination.
    # @param org_id [String] Organization ID
    # @param create_shipping_quote_request [CreateShippingQuoteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateShippingQuote200Response]
    def create_shipping_quote(org_id, create_shipping_quote_request, opts = {})
      data, _status_code, _headers = create_shipping_quote_with_http_info(org_id, create_shipping_quote_request, opts)
      data
    end

    # Calculate shipping rates
    # Calculates shipping rates from configured shipping rules based on cart items and destination.
    # @param org_id [String] Organization ID
    # @param create_shipping_quote_request [CreateShippingQuoteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateShippingQuote200Response, Integer, Hash)>] CreateShippingQuote200Response data, response status code and response headers
    def create_shipping_quote_with_http_info(org_id, create_shipping_quote_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.create_shipping_quote ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling QuotesApi.create_shipping_quote"
      end
      # verify the required parameter 'create_shipping_quote_request' is set
      if @api_client.config.client_side_validation && create_shipping_quote_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_shipping_quote_request' when calling QuotesApi.create_shipping_quote"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipping-quote'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_shipping_quote_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateShippingQuote200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"QuotesApi.create_shipping_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#create_shipping_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
