=begin
#Zippendo Public API

#Public API documentation for Zippendo. Authenticate using your API token (Bearer token prefixed with zipp_).  **Brands (sub-accounts).** An organization can be split into brands, each keeping its own orders, shipments and configuration separate. There are two ways to scope requests to one brand, and NEITHER changes any request body:  1. **Bind the token.** Create an API token with a `brandId` and every request it makes is confined    to that brand — reads filtered, writes stamped. This is the recommended way to give a single    brand's team its own credential. 2. **Send the `X-Zippendo-Brand` header.** An organization-wide token can scope an individual    request by sending the brand's id or slug in this header. Most SDKs let you set it once on the    client so every call inherits it.  A brand-bound token that receives an `X-Zippendo-Brand` header naming a different brand is rejected with `403 BRAND_ACCESS_DENIED` — the binding is never widened. Omit both and requests cover the whole organization, which is the behaviour of every existing token.  Records that belong to no brand carry `brandId: null`. Configuration (carriers, shipping rules, addresses) with a null brand is organization-wide and remains visible inside every brand; orders and shipments with a null brand are only visible organization-wide.

The version of the OpenAPI document: 1.0.0
Contact: support@zippendo.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Zippendo
  class RulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create shipping rule
    # Creates a new shipping rule with conditions and carrier product for the organization.
    # @param org_id [String] Organization ID
    # @param create_shipping_rule_request [CreateShippingRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateShippingRule201Response]
    def create_shipping_rule(org_id, create_shipping_rule_request, opts = {})
      data, _status_code, _headers = create_shipping_rule_with_http_info(org_id, create_shipping_rule_request, opts)
      data
    end

    # Create shipping rule
    # Creates a new shipping rule with conditions and carrier product for the organization.
    # @param org_id [String] Organization ID
    # @param create_shipping_rule_request [CreateShippingRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateShippingRule201Response, Integer, Hash)>] CreateShippingRule201Response data, response status code and response headers
    def create_shipping_rule_with_http_info(org_id, create_shipping_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.create_shipping_rule ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RulesApi.create_shipping_rule"
      end
      # verify the required parameter 'create_shipping_rule_request' is set
      if @api_client.config.client_side_validation && create_shipping_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_shipping_rule_request' when calling RulesApi.create_shipping_rule"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipping-rules'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_shipping_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateShippingRule201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RulesApi.create_shipping_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#create_shipping_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete shipping rule
    # Deletes a shipping rule belonging to the organization.
    # @param org_id [String] Organization ID
    # @param rule_id [String] Shipping Rule ID
    # @param [Hash] opts the optional parameters
    # @return [DeleteShippingRule200Response]
    def delete_shipping_rule(org_id, rule_id, opts = {})
      data, _status_code, _headers = delete_shipping_rule_with_http_info(org_id, rule_id, opts)
      data
    end

    # Delete shipping rule
    # Deletes a shipping rule belonging to the organization.
    # @param org_id [String] Organization ID
    # @param rule_id [String] Shipping Rule ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteShippingRule200Response, Integer, Hash)>] DeleteShippingRule200Response data, response status code and response headers
    def delete_shipping_rule_with_http_info(org_id, rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.delete_shipping_rule ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RulesApi.delete_shipping_rule"
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling RulesApi.delete_shipping_rule"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipping-rules/{ruleId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{ruleId}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteShippingRule200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RulesApi.delete_shipping_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#delete_shipping_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get shipping rule
    # Returns a single shipping rule with its carrier, address and printer relations.
    # @param org_id [String] Organization ID
    # @param rule_id [String] Shipping Rule ID
    # @param [Hash] opts the optional parameters
    # @return [ListShippingRules200ResponseDataInner]
    def get_shipping_rule(org_id, rule_id, opts = {})
      data, _status_code, _headers = get_shipping_rule_with_http_info(org_id, rule_id, opts)
      data
    end

    # Get shipping rule
    # Returns a single shipping rule with its carrier, address and printer relations.
    # @param org_id [String] Organization ID
    # @param rule_id [String] Shipping Rule ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListShippingRules200ResponseDataInner, Integer, Hash)>] ListShippingRules200ResponseDataInner data, response status code and response headers
    def get_shipping_rule_with_http_info(org_id, rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.get_shipping_rule ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RulesApi.get_shipping_rule"
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling RulesApi.get_shipping_rule"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipping-rules/{ruleId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{ruleId}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListShippingRules200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RulesApi.get_shipping_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#get_shipping_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List shipping rules
    # Returns a paginated list of shipping rules for the organization with their relations.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @return [ListShippingRules200Response]
    def list_shipping_rules(org_id, opts = {})
      data, _status_code, _headers = list_shipping_rules_with_http_info(org_id, opts)
      data
    end

    # List shipping rules
    # Returns a paginated list of shipping rules for the organization with their relations.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @return [Array<(ListShippingRules200Response, Integer, Hash)>] ListShippingRules200Response data, response status code and response headers
    def list_shipping_rules_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.list_shipping_rules ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RulesApi.list_shipping_rules"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 9007199254740991
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling RulesApi.list_shipping_rules, must be smaller than or equal to 9007199254740991.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling RulesApi.list_shipping_rules, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RulesApi.list_shipping_rules, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RulesApi.list_shipping_rules, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/orgs/{orgId}/shipping-rules'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListShippingRules200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RulesApi.list_shipping_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#list_shipping_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update shipping rule
    # Updates an existing shipping rule for the organization.
    # @param org_id [String] Organization ID
    # @param rule_id [String] Shipping Rule ID
    # @param update_shipping_rule_request [UpdateShippingRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateShippingRule201Response]
    def update_shipping_rule(org_id, rule_id, update_shipping_rule_request, opts = {})
      data, _status_code, _headers = update_shipping_rule_with_http_info(org_id, rule_id, update_shipping_rule_request, opts)
      data
    end

    # Update shipping rule
    # Updates an existing shipping rule for the organization.
    # @param org_id [String] Organization ID
    # @param rule_id [String] Shipping Rule ID
    # @param update_shipping_rule_request [UpdateShippingRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateShippingRule201Response, Integer, Hash)>] CreateShippingRule201Response data, response status code and response headers
    def update_shipping_rule_with_http_info(org_id, rule_id, update_shipping_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RulesApi.update_shipping_rule ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RulesApi.update_shipping_rule"
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling RulesApi.update_shipping_rule"
      end
      # verify the required parameter 'update_shipping_rule_request' is set
      if @api_client.config.client_side_validation && update_shipping_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_shipping_rule_request' when calling RulesApi.update_shipping_rule"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipping-rules/{ruleId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{ruleId}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_shipping_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateShippingRule201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RulesApi.update_shipping_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RulesApi#update_shipping_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
