=begin
#Zippendo Public API

#Public API documentation for Zippendo. Authenticate using your API token (Bearer token prefixed with zipp_).

The version of the OpenAPI document: 1.0.0
Contact: support@zippendo.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Zippendo
  class ShipmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch send shipments
    # Book multiple pending/error shipments with their carriers in one request. Each shipment is processed independently and reported in `results`; a failure on one shipment never aborts the others. Use it to send every shipment on an order at once.
    # @param org_id [String] Organization ID
    # @param batch_send_shipments_request [BatchSendShipmentsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchSendShipments200Response]
    def batch_send_shipments(org_id, batch_send_shipments_request, opts = {})
      data, _status_code, _headers = batch_send_shipments_with_http_info(org_id, batch_send_shipments_request, opts)
      data
    end

    # Batch send shipments
    # Book multiple pending/error shipments with their carriers in one request. Each shipment is processed independently and reported in &#x60;results&#x60;; a failure on one shipment never aborts the others. Use it to send every shipment on an order at once.
    # @param org_id [String] Organization ID
    # @param batch_send_shipments_request [BatchSendShipmentsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchSendShipments200Response, Integer, Hash)>] BatchSendShipments200Response data, response status code and response headers
    def batch_send_shipments_with_http_info(org_id, batch_send_shipments_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.batch_send_shipments ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ShipmentsApi.batch_send_shipments"
      end
      # verify the required parameter 'batch_send_shipments_request' is set
      if @api_client.config.client_side_validation && batch_send_shipments_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_send_shipments_request' when calling ShipmentsApi.batch_send_shipments"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipments/batch-send'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_send_shipments_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchSendShipments200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ShipmentsApi.batch_send_shipments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#batch_send_shipments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch split shipment
    # Split a parcel into multiple new shipments with per-line quantities in a single atomic operation. Only draft or pending shipments can be split.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param batch_split_shipment_request [BatchSplitShipmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchSplitShipment201Response]
    def batch_split_shipment(org_id, shipment_id, batch_split_shipment_request, opts = {})
      data, _status_code, _headers = batch_split_shipment_with_http_info(org_id, shipment_id, batch_split_shipment_request, opts)
      data
    end

    # Batch split shipment
    # Split a parcel into multiple new shipments with per-line quantities in a single atomic operation. Only draft or pending shipments can be split.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param batch_split_shipment_request [BatchSplitShipmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchSplitShipment201Response, Integer, Hash)>] BatchSplitShipment201Response data, response status code and response headers
    def batch_split_shipment_with_http_info(org_id, shipment_id, batch_split_shipment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.batch_split_shipment ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ShipmentsApi.batch_split_shipment"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.batch_split_shipment"
      end
      # verify the required parameter 'batch_split_shipment_request' is set
      if @api_client.config.client_side_validation && batch_split_shipment_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_split_shipment_request' when calling ShipmentsApi.batch_split_shipment"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipments/{shipmentId}/batch-split-shipment'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{shipmentId}', CGI.escape(shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_split_shipment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchSplitShipment201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ShipmentsApi.batch_split_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#batch_split_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create return shipment
    # Create and auto-send a return shipment from a dispatched outbound shipment with swapped sender/receiver. Requires a configured return shipping rule.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param [Hash] opts the optional parameters
    # @return [CreateShipment201Response]
    def create_return_shipment(org_id, shipment_id, opts = {})
      data, _status_code, _headers = create_return_shipment_with_http_info(org_id, shipment_id, opts)
      data
    end

    # Create return shipment
    # Create and auto-send a return shipment from a dispatched outbound shipment with swapped sender/receiver. Requires a configured return shipping rule.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateShipment201Response, Integer, Hash)>] CreateShipment201Response data, response status code and response headers
    def create_return_shipment_with_http_info(org_id, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.create_return_shipment ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ShipmentsApi.create_return_shipment"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.create_return_shipment"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipments/{shipmentId}/create-return'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{shipmentId}', CGI.escape(shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateShipment201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ShipmentsApi.create_return_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#create_return_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create shipment
    # Create a new shipment for an organization. When orderId is provided, parties and parcels are derived from the order.
    # @param org_id [String] Organization ID
    # @param create_shipment_request [CreateShipmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateShipment201Response]
    def create_shipment(org_id, create_shipment_request, opts = {})
      data, _status_code, _headers = create_shipment_with_http_info(org_id, create_shipment_request, opts)
      data
    end

    # Create shipment
    # Create a new shipment for an organization. When orderId is provided, parties and parcels are derived from the order.
    # @param org_id [String] Organization ID
    # @param create_shipment_request [CreateShipmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateShipment201Response, Integer, Hash)>] CreateShipment201Response data, response status code and response headers
    def create_shipment_with_http_info(org_id, create_shipment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.create_shipment ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ShipmentsApi.create_shipment"
      end
      # verify the required parameter 'create_shipment_request' is set
      if @api_client.config.client_side_validation && create_shipment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_shipment_request' when calling ShipmentsApi.create_shipment"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipments'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_shipment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateShipment201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ShipmentsApi.create_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#create_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete shipment
    # Delete a shipment. Only shipments in pending status can be deleted.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param [Hash] opts the optional parameters
    # @return [RevokeApiToken200Response]
    def delete_shipment(org_id, shipment_id, opts = {})
      data, _status_code, _headers = delete_shipment_with_http_info(org_id, shipment_id, opts)
      data
    end

    # Delete shipment
    # Delete a shipment. Only shipments in pending status can be deleted.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RevokeApiToken200Response, Integer, Hash)>] RevokeApiToken200Response data, response status code and response headers
    def delete_shipment_with_http_info(org_id, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.delete_shipment ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ShipmentsApi.delete_shipment"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.delete_shipment"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipments/{shipmentId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{shipmentId}', CGI.escape(shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RevokeApiToken200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ShipmentsApi.delete_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#delete_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get shipment
    # Retrieve a single shipment by its ID, including parcels, parties, documents and activity.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param [Hash] opts the optional parameters
    # @return [CreateShipment201Response]
    def get_shipment(org_id, shipment_id, opts = {})
      data, _status_code, _headers = get_shipment_with_http_info(org_id, shipment_id, opts)
      data
    end

    # Get shipment
    # Retrieve a single shipment by its ID, including parcels, parties, documents and activity.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateShipment201Response, Integer, Hash)>] CreateShipment201Response data, response status code and response headers
    def get_shipment_with_http_info(org_id, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.get_shipment ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ShipmentsApi.get_shipment"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.get_shipment"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipments/{shipmentId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{shipmentId}', CGI.escape(shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateShipment201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ShipmentsApi.get_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#get_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download shipment document
    # Streams a shipment document or label file from storage.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param document_id [String] Document identifier.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :disposition Render the document inline (default) or force a download. (default to 'inline')
    # @option opts [String] :filename Suggested filename (without extension) for attachment downloads.
    # @return [nil]
    def get_shipment_document_content(org_id, shipment_id, document_id, opts = {})
      get_shipment_document_content_with_http_info(org_id, shipment_id, document_id, opts)
      nil
    end

    # Download shipment document
    # Streams a shipment document or label file from storage.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param document_id [String] Document identifier.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :disposition Render the document inline (default) or force a download. (default to 'inline')
    # @option opts [String] :filename Suggested filename (without extension) for attachment downloads.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_shipment_document_content_with_http_info(org_id, shipment_id, document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.get_shipment_document_content ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ShipmentsApi.get_shipment_document_content"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.get_shipment_document_content"
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling ShipmentsApi.get_shipment_document_content"
      end
      allowable_values = ["inline", "attachment"]
      if @api_client.config.client_side_validation && opts[:'disposition'] && !allowable_values.include?(opts[:'disposition'])
        fail ArgumentError, "invalid value for \"disposition\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipments/{shipmentId}/documents/{documentId}/content'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{shipmentId}', CGI.escape(shipment_id.to_s)).sub('{documentId}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'disposition'] = opts[:'disposition'] if !opts[:'disposition'].nil?
      query_params[:'filename'] = opts[:'filename'] if !opts[:'filename'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ShipmentsApi.get_shipment_document_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#get_shipment_document_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List shipments
    # List all shipments for an organization, paginated and ordered by newest first.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @return [ListShipments200Response]
    def list_shipments(org_id, opts = {})
      data, _status_code, _headers = list_shipments_with_http_info(org_id, opts)
      data
    end

    # List shipments
    # List all shipments for an organization, paginated and ordered by newest first.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @return [Array<(ListShipments200Response, Integer, Hash)>] ListShipments200Response data, response status code and response headers
    def list_shipments_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.list_shipments ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ShipmentsApi.list_shipments"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 9007199254740991
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ShipmentsApi.list_shipments, must be smaller than or equal to 9007199254740991.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ShipmentsApi.list_shipments, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ShipmentsApi.list_shipments, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ShipmentsApi.list_shipments, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/orgs/{orgId}/shipments'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListShipments200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ShipmentsApi.list_shipments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#list_shipments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send shipment
    # Book a pending or error shipment with the carrier, generating labels and tracking. Returns 422 with carrier errors if booking fails.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param [Hash] opts the optional parameters
    # @return [CreateShipment201Response]
    def send_shipment(org_id, shipment_id, opts = {})
      data, _status_code, _headers = send_shipment_with_http_info(org_id, shipment_id, opts)
      data
    end

    # Send shipment
    # Book a pending or error shipment with the carrier, generating labels and tracking. Returns 422 with carrier errors if booking fails.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateShipment201Response, Integer, Hash)>] CreateShipment201Response data, response status code and response headers
    def send_shipment_with_http_info(org_id, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.send_shipment ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ShipmentsApi.send_shipment"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.send_shipment"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipments/{shipmentId}/send'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{shipmentId}', CGI.escape(shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateShipment201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ShipmentsApi.send_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#send_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Split shipment
    # Move order lines from a parcel into a new shipment. Only draft or pending shipments can be split.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param split_shipment_request [SplitShipmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SplitShipment201Response]
    def split_shipment(org_id, shipment_id, split_shipment_request, opts = {})
      data, _status_code, _headers = split_shipment_with_http_info(org_id, shipment_id, split_shipment_request, opts)
      data
    end

    # Split shipment
    # Move order lines from a parcel into a new shipment. Only draft or pending shipments can be split.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param split_shipment_request [SplitShipmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SplitShipment201Response, Integer, Hash)>] SplitShipment201Response data, response status code and response headers
    def split_shipment_with_http_info(org_id, shipment_id, split_shipment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.split_shipment ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ShipmentsApi.split_shipment"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.split_shipment"
      end
      # verify the required parameter 'split_shipment_request' is set
      if @api_client.config.client_side_validation && split_shipment_request.nil?
        fail ArgumentError, "Missing the required parameter 'split_shipment_request' when calling ShipmentsApi.split_shipment"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipments/{shipmentId}/split-shipment'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{shipmentId}', CGI.escape(shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(split_shipment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SplitShipment201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ShipmentsApi.split_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#split_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Split parcels
    # Redistribute order lines across parcels within a shipment, moving lines between parcels and creating new ones. Only draft, pending or error shipments can be modified.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param split_shipment_parcel_request [SplitShipmentParcelRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SplitShipmentParcel200Response]
    def split_shipment_parcel(org_id, shipment_id, split_shipment_parcel_request, opts = {})
      data, _status_code, _headers = split_shipment_parcel_with_http_info(org_id, shipment_id, split_shipment_parcel_request, opts)
      data
    end

    # Split parcels
    # Redistribute order lines across parcels within a shipment, moving lines between parcels and creating new ones. Only draft, pending or error shipments can be modified.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param split_shipment_parcel_request [SplitShipmentParcelRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SplitShipmentParcel200Response, Integer, Hash)>] SplitShipmentParcel200Response data, response status code and response headers
    def split_shipment_parcel_with_http_info(org_id, shipment_id, split_shipment_parcel_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.split_shipment_parcel ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ShipmentsApi.split_shipment_parcel"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.split_shipment_parcel"
      end
      # verify the required parameter 'split_shipment_parcel_request' is set
      if @api_client.config.client_side_validation && split_shipment_parcel_request.nil?
        fail ArgumentError, "Missing the required parameter 'split_shipment_parcel_request' when calling ShipmentsApi.split_shipment_parcel"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipments/{shipmentId}/split-parcel'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{shipmentId}', CGI.escape(shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(split_shipment_parcel_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SplitShipmentParcel200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ShipmentsApi.split_shipment_parcel",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#split_shipment_parcel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get shipment tracking
    # Retrieve the tracking timeline for a shipment, including current status and all carrier events.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param [Hash] opts the optional parameters
    # @return [TrackShipment200Response]
    def track_shipment(org_id, shipment_id, opts = {})
      data, _status_code, _headers = track_shipment_with_http_info(org_id, shipment_id, opts)
      data
    end

    # Get shipment tracking
    # Retrieve the tracking timeline for a shipment, including current status and all carrier events.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrackShipment200Response, Integer, Hash)>] TrackShipment200Response data, response status code and response headers
    def track_shipment_with_http_info(org_id, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.track_shipment ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ShipmentsApi.track_shipment"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.track_shipment"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipments/{shipmentId}/tracking'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{shipmentId}', CGI.escape(shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrackShipment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ShipmentsApi.track_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#track_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update shipment
    # Update an existing shipment. Only draft, pending or error shipments can be updated; an applied shipping rule overrides carrier settings and sender party.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param update_shipment_request [UpdateShipmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateShipment201Response]
    def update_shipment(org_id, shipment_id, update_shipment_request, opts = {})
      data, _status_code, _headers = update_shipment_with_http_info(org_id, shipment_id, update_shipment_request, opts)
      data
    end

    # Update shipment
    # Update an existing shipment. Only draft, pending or error shipments can be updated; an applied shipping rule overrides carrier settings and sender party.
    # @param org_id [String] Organization identifier.
    # @param shipment_id [String] Shipment identifier.
    # @param update_shipment_request [UpdateShipmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateShipment201Response, Integer, Hash)>] CreateShipment201Response data, response status code and response headers
    def update_shipment_with_http_info(org_id, shipment_id, update_shipment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentsApi.update_shipment ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ShipmentsApi.update_shipment"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling ShipmentsApi.update_shipment"
      end
      # verify the required parameter 'update_shipment_request' is set
      if @api_client.config.client_side_validation && update_shipment_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_shipment_request' when calling ShipmentsApi.update_shipment"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/shipments/{shipmentId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{shipmentId}', CGI.escape(shipment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_shipment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateShipment201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ShipmentsApi.update_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentsApi#update_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
