=begin
#Zippendo Public API

#Public API documentation for Zippendo. Authenticate using your API token (Bearer token prefixed with zipp_).

The version of the OpenAPI document: 1.0.0
Contact: support@zippendo.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Zippendo
  class TokensApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create API keys
    # Creates a new API token for the specified organization. The full token is only shown once.
    # @param org_id [String] Organization ID
    # @param create_api_token_request [CreateApiTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateApiToken201Response]
    def create_api_token(org_id, create_api_token_request, opts = {})
      data, _status_code, _headers = create_api_token_with_http_info(org_id, create_api_token_request, opts)
      data
    end

    # Create API keys
    # Creates a new API token for the specified organization. The full token is only shown once.
    # @param org_id [String] Organization ID
    # @param create_api_token_request [CreateApiTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateApiToken201Response, Integer, Hash)>] CreateApiToken201Response data, response status code and response headers
    def create_api_token_with_http_info(org_id, create_api_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokensApi.create_api_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TokensApi.create_api_token"
      end
      # verify the required parameter 'create_api_token_request' is set
      if @api_client.config.client_side_validation && create_api_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_api_token_request' when calling TokensApi.create_api_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api-tokens'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_api_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateApiToken201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TokensApi.create_api_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokensApi#create_api_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get API keys
    # Returns metadata for a specific API token. The token secret is never returned.
    # @param org_id [String] Organization ID
    # @param token_id [String] API Token ID
    # @param [Hash] opts the optional parameters
    # @return [ListApiTokens200ResponseDataInner]
    def get_api_token(org_id, token_id, opts = {})
      data, _status_code, _headers = get_api_token_with_http_info(org_id, token_id, opts)
      data
    end

    # Get API keys
    # Returns metadata for a specific API token. The token secret is never returned.
    # @param org_id [String] Organization ID
    # @param token_id [String] API Token ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListApiTokens200ResponseDataInner, Integer, Hash)>] ListApiTokens200ResponseDataInner data, response status code and response headers
    def get_api_token_with_http_info(org_id, token_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokensApi.get_api_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TokensApi.get_api_token"
      end
      # verify the required parameter 'token_id' is set
      if @api_client.config.client_side_validation && token_id.nil?
        fail ArgumentError, "Missing the required parameter 'token_id' when calling TokensApi.get_api_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api-tokens/{tokenId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{tokenId}', CGI.escape(token_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListApiTokens200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TokensApi.get_api_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokensApi#get_api_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List API keys
    # Returns a paginated list of API tokens belonging to the specified organization.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @return [ListApiTokens200Response]
    def list_api_tokens(org_id, opts = {})
      data, _status_code, _headers = list_api_tokens_with_http_info(org_id, opts)
      data
    end

    # List API keys
    # Returns a paginated list of API tokens belonging to the specified organization.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @return [Array<(ListApiTokens200Response, Integer, Hash)>] ListApiTokens200Response data, response status code and response headers
    def list_api_tokens_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokensApi.list_api_tokens ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TokensApi.list_api_tokens"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 9007199254740991
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling TokensApi.list_api_tokens, must be smaller than or equal to 9007199254740991.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling TokensApi.list_api_tokens, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TokensApi.list_api_tokens, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TokensApi.list_api_tokens, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/orgs/{orgId}/api-tokens'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListApiTokens200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TokensApi.list_api_tokens",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokensApi#list_api_tokens\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke API keys
    # Revokes and deletes an API token.
    # @param org_id [String] Organization ID
    # @param token_id [String] API Token ID
    # @param [Hash] opts the optional parameters
    # @return [RevokeApiToken200Response]
    def revoke_api_token(org_id, token_id, opts = {})
      data, _status_code, _headers = revoke_api_token_with_http_info(org_id, token_id, opts)
      data
    end

    # Revoke API keys
    # Revokes and deletes an API token.
    # @param org_id [String] Organization ID
    # @param token_id [String] API Token ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(RevokeApiToken200Response, Integer, Hash)>] RevokeApiToken200Response data, response status code and response headers
    def revoke_api_token_with_http_info(org_id, token_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokensApi.revoke_api_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TokensApi.revoke_api_token"
      end
      # verify the required parameter 'token_id' is set
      if @api_client.config.client_side_validation && token_id.nil?
        fail ArgumentError, "Missing the required parameter 'token_id' when calling TokensApi.revoke_api_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api-tokens/{tokenId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{tokenId}', CGI.escape(token_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RevokeApiToken200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TokensApi.revoke_api_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokensApi#revoke_api_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update API keys
    # Updates the name of an API token.
    # @param org_id [String] Organization ID
    # @param token_id [String] API Token ID
    # @param update_api_token_request [UpdateApiTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ListApiTokens200ResponseDataInner]
    def update_api_token(org_id, token_id, update_api_token_request, opts = {})
      data, _status_code, _headers = update_api_token_with_http_info(org_id, token_id, update_api_token_request, opts)
      data
    end

    # Update API keys
    # Updates the name of an API token.
    # @param org_id [String] Organization ID
    # @param token_id [String] API Token ID
    # @param update_api_token_request [UpdateApiTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListApiTokens200ResponseDataInner, Integer, Hash)>] ListApiTokens200ResponseDataInner data, response status code and response headers
    def update_api_token_with_http_info(org_id, token_id, update_api_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokensApi.update_api_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TokensApi.update_api_token"
      end
      # verify the required parameter 'token_id' is set
      if @api_client.config.client_side_validation && token_id.nil?
        fail ArgumentError, "Missing the required parameter 'token_id' when calling TokensApi.update_api_token"
      end
      # verify the required parameter 'update_api_token_request' is set
      if @api_client.config.client_side_validation && update_api_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_api_token_request' when calling TokensApi.update_api_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api-tokens/{tokenId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{tokenId}', CGI.escape(token_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_api_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ListApiTokens200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TokensApi.update_api_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokensApi#update_api_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify API keys
    # Verifies whether an API token is valid and returns its metadata.
    # @param verify_api_token_request [VerifyApiTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VerifyApiToken200Response]
    def verify_api_token(verify_api_token_request, opts = {})
      data, _status_code, _headers = verify_api_token_with_http_info(verify_api_token_request, opts)
      data
    end

    # Verify API keys
    # Verifies whether an API token is valid and returns its metadata.
    # @param verify_api_token_request [VerifyApiTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifyApiToken200Response, Integer, Hash)>] VerifyApiToken200Response data, response status code and response headers
    def verify_api_token_with_http_info(verify_api_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokensApi.verify_api_token ...'
      end
      # verify the required parameter 'verify_api_token_request' is set
      if @api_client.config.client_side_validation && verify_api_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'verify_api_token_request' when calling TokensApi.verify_api_token"
      end
      # resource path
      local_var_path = '/api-tokens/verify'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(verify_api_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VerifyApiToken200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TokensApi.verify_api_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokensApi#verify_api_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
