=begin
#Zippendo Public API

#Public API documentation for Zippendo. Authenticate using your API token (Bearer token prefixed with zipp_).

The version of the OpenAPI document: 1.0.0
Contact: support@zippendo.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module Zippendo
  class WebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create webhook
    # Create a new webhook endpoint for an organization that receives event notifications.
    # @param org_id [String] Organization ID
    # @param create_org_webhook_request [CreateOrgWebhookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateOrgWebhook201Response]
    def create_org_webhook(org_id, create_org_webhook_request, opts = {})
      data, _status_code, _headers = create_org_webhook_with_http_info(org_id, create_org_webhook_request, opts)
      data
    end

    # Create webhook
    # Create a new webhook endpoint for an organization that receives event notifications.
    # @param org_id [String] Organization ID
    # @param create_org_webhook_request [CreateOrgWebhookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateOrgWebhook201Response, Integer, Hash)>] CreateOrgWebhook201Response data, response status code and response headers
    def create_org_webhook_with_http_info(org_id, create_org_webhook_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.create_org_webhook ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling WebhooksApi.create_org_webhook"
      end
      # verify the required parameter 'create_org_webhook_request' is set
      if @api_client.config.client_side_validation && create_org_webhook_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_org_webhook_request' when calling WebhooksApi.create_org_webhook"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/webhooks'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_org_webhook_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateOrgWebhook201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.create_org_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#create_org_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete webhook
    # Permanently delete a webhook and all its delivery logs.
    # @param org_id [String] Organization ID
    # @param webhook_id [String] Webhook ID
    # @param [Hash] opts the optional parameters
    # @return [DeleteOrgWebhook200Response]
    def delete_org_webhook(org_id, webhook_id, opts = {})
      data, _status_code, _headers = delete_org_webhook_with_http_info(org_id, webhook_id, opts)
      data
    end

    # Delete webhook
    # Permanently delete a webhook and all its delivery logs.
    # @param org_id [String] Organization ID
    # @param webhook_id [String] Webhook ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteOrgWebhook200Response, Integer, Hash)>] DeleteOrgWebhook200Response data, response status code and response headers
    def delete_org_webhook_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.delete_org_webhook ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling WebhooksApi.delete_org_webhook"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhooksApi.delete_org_webhook"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/webhooks/{webhookId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{webhookId}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteOrgWebhook200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.delete_org_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#delete_org_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get webhook
    # Get a specific webhook including its signing secret.
    # @param org_id [String] Organization ID
    # @param webhook_id [String] Webhook ID
    # @param [Hash] opts the optional parameters
    # @return [CreateOrgWebhook201Response]
    def get_org_webhook(org_id, webhook_id, opts = {})
      data, _status_code, _headers = get_org_webhook_with_http_info(org_id, webhook_id, opts)
      data
    end

    # Get webhook
    # Get a specific webhook including its signing secret.
    # @param org_id [String] Organization ID
    # @param webhook_id [String] Webhook ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateOrgWebhook201Response, Integer, Hash)>] CreateOrgWebhook201Response data, response status code and response headers
    def get_org_webhook_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_org_webhook ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling WebhooksApi.get_org_webhook"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhooksApi.get_org_webhook"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/webhooks/{webhookId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{webhookId}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateOrgWebhook201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_org_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_org_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List webhook deliveries
    # List the delivery history for a specific webhook.
    # @param org_id [String] Organization ID
    # @param webhook_id [String] Webhook ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @return [ListOrgWebhookDeliveries200Response]
    def list_org_webhook_deliveries(org_id, webhook_id, opts = {})
      data, _status_code, _headers = list_org_webhook_deliveries_with_http_info(org_id, webhook_id, opts)
      data
    end

    # List webhook deliveries
    # List the delivery history for a specific webhook.
    # @param org_id [String] Organization ID
    # @param webhook_id [String] Webhook ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @return [Array<(ListOrgWebhookDeliveries200Response, Integer, Hash)>] ListOrgWebhookDeliveries200Response data, response status code and response headers
    def list_org_webhook_deliveries_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.list_org_webhook_deliveries ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling WebhooksApi.list_org_webhook_deliveries"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhooksApi.list_org_webhook_deliveries"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 9007199254740991
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WebhooksApi.list_org_webhook_deliveries, must be smaller than or equal to 9007199254740991.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WebhooksApi.list_org_webhook_deliveries, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.list_org_webhook_deliveries, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.list_org_webhook_deliveries, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/orgs/{orgId}/webhooks/{webhookId}/deliveries'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{webhookId}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrgWebhookDeliveries200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.list_org_webhook_deliveries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#list_org_webhook_deliveries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List webhooks
    # List all webhooks belonging to an organization.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @return [ListOrgWebhooks200Response]
    def list_org_webhooks(org_id, opts = {})
      data, _status_code, _headers = list_org_webhooks_with_http_info(org_id, opts)
      data
    end

    # List webhooks
    # List all webhooks belonging to an organization.
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (max 100) (default to 20)
    # @return [Array<(ListOrgWebhooks200Response, Integer, Hash)>] ListOrgWebhooks200Response data, response status code and response headers
    def list_org_webhooks_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.list_org_webhooks ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling WebhooksApi.list_org_webhooks"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 9007199254740991
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WebhooksApi.list_org_webhooks, must be smaller than or equal to 9007199254740991.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling WebhooksApi.list_org_webhooks, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.list_org_webhooks, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.list_org_webhooks, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/orgs/{orgId}/webhooks'.sub('{orgId}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrgWebhooks200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.list_org_webhooks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#list_org_webhooks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test webhook
    # Send a test ping event to the webhook endpoint to verify connectivity.
    # @param org_id [String] Organization ID
    # @param webhook_id [String] Webhook ID
    # @param [Hash] opts the optional parameters
    # @return [TestOrgWebhook200Response]
    def test_org_webhook(org_id, webhook_id, opts = {})
      data, _status_code, _headers = test_org_webhook_with_http_info(org_id, webhook_id, opts)
      data
    end

    # Test webhook
    # Send a test ping event to the webhook endpoint to verify connectivity.
    # @param org_id [String] Organization ID
    # @param webhook_id [String] Webhook ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(TestOrgWebhook200Response, Integer, Hash)>] TestOrgWebhook200Response data, response status code and response headers
    def test_org_webhook_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.test_org_webhook ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling WebhooksApi.test_org_webhook"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhooksApi.test_org_webhook"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/webhooks/{webhookId}/test'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{webhookId}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TestOrgWebhook200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.test_org_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#test_org_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update webhook
    # Update the configuration of an existing webhook.
    # @param org_id [String] Organization ID
    # @param webhook_id [String] Webhook ID
    # @param update_org_webhook_request [UpdateOrgWebhookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateOrgWebhook201Response]
    def update_org_webhook(org_id, webhook_id, update_org_webhook_request, opts = {})
      data, _status_code, _headers = update_org_webhook_with_http_info(org_id, webhook_id, update_org_webhook_request, opts)
      data
    end

    # Update webhook
    # Update the configuration of an existing webhook.
    # @param org_id [String] Organization ID
    # @param webhook_id [String] Webhook ID
    # @param update_org_webhook_request [UpdateOrgWebhookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateOrgWebhook201Response, Integer, Hash)>] CreateOrgWebhook201Response data, response status code and response headers
    def update_org_webhook_with_http_info(org_id, webhook_id, update_org_webhook_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.update_org_webhook ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling WebhooksApi.update_org_webhook"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhooksApi.update_org_webhook"
      end
      # verify the required parameter 'update_org_webhook_request' is set
      if @api_client.config.client_side_validation && update_org_webhook_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_org_webhook_request' when calling WebhooksApi.update_org_webhook"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/webhooks/{webhookId}'.sub('{orgId}', CGI.escape(org_id.to_s)).sub('{webhookId}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_org_webhook_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateOrgWebhook201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.update_org_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#update_org_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
